.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #21482be2;
  border-bottom: 300px #fff;
}
.navbar .leftside img {
  width: 70px;
}

.navbar .leftside {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navbar .rightside {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  text-transform: uppercase;
  color: #fff;
  margin: 20px;
}
.navbar .rightside button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .rightside svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}
.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}

@media only screen and (max-width: 900px) {
  .navbar .rightside a {
    width: 70px;
  }
  .navbar .leftside {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightside a {
    display: none;
  }
  .navbar .rightside {
    justify-content: flex-end;
    padding-right: 50px;
  }
  .navbar .rightside button {
    display: inherit;
  }
}
@media only screen and (min-width: 600px) {
  .navbar .rightside button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
